h1 {
    color: black;
    transition: color 1.0s;
}
h1:hover {
    color: red;
}

div.pics {
    display: flex;
    flex-direction: column;
    text-align: center;
}

img {
    /* Prevent horizontal stretching*/
    align-self: center;
    height: 80vh;
    width: auto;
    border: 1px solid black;
    transition: height 1.0s;
}

img:hover {
    height: 90vh
}
